/*:root{*/
/*    --text-primary:#000;*/
/*    --bgPrimary:#fff;*/
/*    --bgSecondary: #F9F9F9;*/
/*    --pink: #0071bd;*/
/*    --light-blue: #e6f7ff;*/
/*    --border: #d9d9d9;*/
/*}*/

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.App{
    background-color: #ffffff;
    /*transform: scale(0.9);*/
}

.app{
    display: flex;
    overflow: hidden;
}

.navbar{
    /*flex: 0.2;*/
    margin-top: 25px;
}

.main{
    /*flex: 0.8;*/
    width: 100%;

}
.routes{
    margin: 0px 10% 0px;
    /*padding: 20px;*/
    background-color: #ffffff;
    padding-top:4%;


}


img{
    border-radius: 1%;
}

@media screen and (max-width:1300px){
    .main{
        margin-left: 50px;
    }

    .slider{
        max-width: 100%;
    }
    .slider .image img{
        top:50%;
        left:50%;
        max-width: 100%;
        object-fit:cover;
    }
    .routes{
        margin: 0px 7% 0px;
    }

}

@media screen and (max-width:1170px){
    .main{
        margin-left: 50px;
    }
    .routes{
        margin: 0px 7% 0px;
    }
}

@media screen and (max-width:1000px){
    .main{
        margin-left: 100px;
    }
    .routes{
        margin: 0px 7% 0px;
    }
}

@media screen and (max-width:800px){

    .app{
        flex-direction: column;
        overflow: hidden;

    }

    .navbar{
        flex: 1;
    }

    .main{
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container{
        height: 8vh;
        position:fixed;
        width: 100%;
        z-index: 100;

    }

    .menu-control-container{
        display: block !important;
    }

    .ant-menu{
        position: absolute;
        right: 0px;

    }
    .home-title{
        font-size: 1.4rem !important;
    }
    .show-more{
        font-size: 1.3rem !important;
    }

    .lang-select{
        text-align: center;
    }
    .routes{
        padding-top: 20%;
        margin: 0px 7% 0px;
    }

    .slider{
        max-width: 100%;
    }
    .slider .image img{
        top:50%;
        left:50%;
        max-width: 100%;
        object-fit:cover;
    }

}


/*@media screen and (max-width: 500px){*/
/*    .heading{*/
/*        margin-top: 20px;*/
/*    }*/
/*}*/

.select-news{
    width: 180px;
}
.news-card{
    min-height: 300px !important;
}
.news-image-container{
    display: flex !important;
    justify-content: center !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
