.header {
    text-align: justify;
    letter-spacing: 2px;
    height: 10em;
    padding: 2em 10%;
    background: #fff;
    color: #fff;
}

h1{
    display: inline;
    font-weight: bold;
    font-size: 40px;
}

@media screen and (max-width: 800px) {
    hr{
        display: none;
    }
}
