

ul {
    display: flex;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}


.menu-main {
    list-style: none;
    display: flex;
    /*margin: 40px 0 5px;*/
    padding: 25px 10% 25px;
    /*padding: 2em 8.5% 5px;*/
    /*text-align: center;*/
    background: #FADE98;
    align-items: center;
}

.menu-main .inputClass{
    background-color: #fff;
    margin-left: 25px;
    width: 25%;
    height: 40px;
}

.menu-items .inputClass{
    display: none;
}

.menu-main .menu-lines{
     margin-left: 25px;
     cursor: pointer;
     margin-top: 7px;
 }

.menu-main li {display: inline-block;}

.menu-main li:last-child {
    /*content: none;*/
    margin-left: 30%;
}
.menu-main h3 {
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 15px 0 15px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main h3, .menu-main h3:visited {
    color: black;
    font-weight: bold;
;}
.menu-main h3.current, .menu-main h3:hover{
    color: black;
    transition: all ease 1s;
}

.menu-items .proposeMob{
    display: none;
}

.menu-items{
    list-style: none; /*убираем маркеры списка*/
    margin-top: 25px;
    font-size: 20px;
    transform: translateX(-100%);
    transition: all ease 0.7s;
    /*margin-left: 45px;*/
    z-index: 50;
    position: absolute;
}

.menu-items.active{
    transform: translateX(0);
    transition: all ease 0.7s;
    margin-left: 45px;
}

@media (max-width: 790px) {
    .menu-main .inputClass{
        width: 100%;
    }
    .menu-main .menu-lines{
        margin-left: -10px;
    }
    .menu-items.active{
        margin-left: 0px;
        filter: brightness(90%);
    }
    .menu-items{
        background-color: #FADE98;
        height: 100%;
        width: 65%;
        margin-top: 0px;
        z-index: 50;
    }

    .menu-main .proposeDesc{
        display: none;
    }

    .menu-items .menuAdapt{
        margin-top: 25px;
        margin-left: 55px;
    }

    .menu-items .inputClass{
        display: flex;
    }


    .menu-main .inputClass{
        display: none;
    }

    .menu-items .proposeMob{
        display: flex;
    }
}



