

ul {
    display: flex;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}


.menu-main {
    /*position: fixed;*/
    list-style: none;
    display: flex;
    position: fixed;
    width: 100%;
    /*margin: 40px 0 5px;*/
    padding: 0.4% 7% 0.4%;
    /*padding: 2em 8.5% 5px;*/
    /*text-align: center;*/
    background: #FADE98;
    align-items: center;
    z-index: 51;
}

.menu-main .inputClass{
    background-color: #fff;
    margin-left: 25px;
    width: 23%;
    height: 35px;
    border-radius: 30px;
}

.menu-items .inputClass{
    display: none;
}

.menu-main .menu-lines{
     margin-left: 25px;
     cursor: pointer;
     margin-top: 7px;
 }

.menu-main li {display: inline-block;}

.menu-main li:last-child {
    /*content: none;*/
    margin-left: 30%;
}
.menu-main h3 {
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 15px 0 15px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main h3, .menu-main h3:visited {
    color: black;
    font-weight: bold;
;}
.menu-main h3.current, .menu-main h3:hover{
    color: black;
    transition: all ease 1s;
}

.menu-items .proposeMob{
    display: none;
}

.menu-items{
    list-style: none; /*убираем маркеры списка*/
    margin-top: 10px;
    font-size: 22px;
    transform: translateY(-100%);
    transition: all ease 0.7s;
    margin-left: 0px;
    z-index: 50;
    position: absolute;
    background-color: #FADE98;
    padding: 70px;
    height: 100%;
}

.menu-items.active{
    position: fixed;
    /*width: 10%;*/
    transform: translateY(0);
    transition: all ease 0.5s;
    /*font-weight: bold;*/
    /*margin-left: 45px;*/

}
.menu-items.active h3{
    font-weight: bold;

}

.menu-main .logoKik:hover{
    transform: scale(1.05);
    transition: all ease 0.5s;

}

.menu-items.active h3:hover{
    transform: scale(1.1);
    transition: all ease 0.5s;

}

@media (max-width: 790px) {
    .menu-main{
        padding: 7px 7% 7px;
        position: fixed !important;

    }
    .menu-main .inputClass{
        width: 100%;
    }
    .menu-main .menu-lines{
        margin-left: -10px;
    }
    .menu-items.active{
        margin-left: 0px;
        filter: brightness(90%);
    }
    .menu-items{
        transform: translateX(-100%);
        background-color: #FADE98;
        height: 100%;
        width: 60%;
        margin-top: 0px;
        z-index: 50;
        position: fixed !important;
    }

    .menu-main .proposeDesc{
        display: none;
    }

    .menu-items .menuAdapt{
        margin-top: 34%;
        /*margin-left: 55px;*/
    }

    .menu-items .inputClass{
        display: none;
    }


    .menu-main .inputClass{
        display: none;
    }

    .menu-items .proposeMob{
        display: flex;
    }
}



